%li{ id: "user-#{user.id}" }
  %span.user
    = link_to "#{user.username}(#{user.email})", user
  %span.stats
    Posts #{user.posts.count} | Following #{user.following.count} | Followers #{user.followers.count}
  %span.timestamp
    Signed Up
    = "#{time_ago_in_words(user.created_at)} ago."
