%h1
  #{@user.username}(#{@user.email})
  - unless @user == current_user
    %span.pull-right
      = link_to "#{current_user.following?(@user) ? 'Unf' : 'F'}ollow", "#",
                class: "btn btn-primary follow-btn",
                "data-user-id" => @user.id
%h4
  = link_to "Posts(#{@posts_count})", user_path(@user),
            class: "#{'active' if current_page?(action: :show)}"
  |
  = link_to "Following(#{@following_count})", following_user_path(@user),
             class: "#{'active' if current_page?(action: :following)}"
  |
  = link_to "Followers(#{@followers_count})", followers_user_path(@user),
             class: "#{'active' if current_page?(action: :followers)}"
