= form_for Post.new do |f|
  .form-group
    = f.text_area :content, class: "new-post", placeholder: "What are you thinking..."
  .form-group.pull-right
    = f.submit "Post", class: "btn btn-primary new-post-btn"
%h2.last-news
  Last News
%ol#last-news.wall
  = render @posts
