%li{ id: "post-#{post.id}" }
  %span.user
    = link_to post.user.username, post.user
  %span.content
    = post.content
  %span.timestamp
    Posted
    = "#{time_ago_in_words(post.created_at)} ago."
