//= require_tree .
//= require_self
//= require bootstrap3-dialog/src/css/bootstrap-dialog

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
  margin-bottom: 0px !important;
}

.alert, .notice{
  margin-bottom: 0px !important;
  padding: 0px !important;
}
