.wall {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    margin-left: 60px;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray-light;
    display: block;
    margin-left: 60px;
  }
}

h2.last-news{
  margin-top: 60px;
}

textarea.new-post {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid light-grey;
}
