%footer{ id: 'footer' }
  .container
    %p
      Brought to <em>You</em> by <strong>Mojarra</strong>
      &mdash;
      %em
        Powered by
        = fa_icon('cogs')
        = link_to '@MojarraGandhi', 'http://twitter.com/MojarraGandhi', target: '_blank'
