#header.navbar.navbar-default.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button{ 'type'        => "button",
               'class'       => "navbar-toggle",
               'data-toggle' => "collapse",
               'data-target' => ".navbar-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand", id: "logo" do
        Platform161 | SocialNet

    = render partial: "user_dropdown_menu"  if user_signed_in?
