.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    %li.dropdown
      %a.dropdown-toggle{ 'role'          => "button",
                          'href'          => "#",
                          'data-toggle'   => "dropdown",
                          'aria-haspopup' => "true",
                          'aria-expanded' => "false" }

        = current_user.username
        %span.caret
      %ul.dropdown-menu
        %li.dropdown-header
          logged in as
          %strong
            = " #{current_user.username}"
          %li.divider
        %li
          = link_to destroy_user_session_path, method: :delete do
            Logout
