!!!
%html
  %head
    %title
      Platform161 | SocialNet
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'header'
    = render 'content'
    = render 'footer'
